@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.App {
  text-align: center;
  background-color: #D9DBF1;
  color: #0B3948;
  transition: "all 1s ease";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  max-width: 100%; 
}

.title{
  font-family: 'Oswald';
}

.App-link {
  color: #61dafb;
}

.block{
  padding: 2rem 2rem;
}

.pic{
  flex: 1;
  max-width: 100%;
  height: auto;
  max-height: 310px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}